<div class="form">
  <h2 class="form_title">Edit my profile</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :name,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html:{ class:"input_text" }, placeholder:"Name", label: false %>
      <%= f.input :description,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html:{ class:"input_text" },
                  placeholder:"Give us a short description of yourself", label: false %>
      <div class="file_wrap">
        <%= f.input :photo,
                    as: :file,
                    required: false,
                    input_html: { autocomplete: "Upload a profile picture" }, label: false %>
      </div>
      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class:"submit_button" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>
