<% content_for :meta_title, "#{@user.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user.description %>

<div class="general-container">
  <div class="info-container">
    <div class="profilepicture">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class: "user-profile-avatar" %>
      <% else %>
        <%= image_tag "no-profile-picture-jpg-hd-png-download.png", class: "user-profile-avatar" %>
      <% end %>
    </div>
    <h1><%= @user.name %></h1>
    <h5>"<%= @user.description %>"</h5>
    <div class="review">
      <% @user.materials.each do |material| %>
        <% material.buyings.each do |buying| %>
          <% if buying.user == current_user && @form_seller %>
            <% @form_seller = false %>
            <%= simple_form_for [ @user, @review ], defaults: { input_html: { class: 'star-review review-form' } } do |f| %>
              <%= f.input :rating, collection: (1..5).to_a, label: "Rate this seller" %>
              <%= f.submit "Send review", class: "d-none" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% current_user.materials.each do |material| %>
        <% material.buyings.each do |buying| %>
          <% if buying.user == @user && @form_buyer %>
          <% @form_buyer = false %>
            <%= simple_form_for [ @user, @review ], defaults: { input_html: { class: 'star-review' } } do |f| %>
              <%= f.input :rating, collection: (1..5).to_a, label: "Rate this buyer" %>
              <%= f.submit "Send review", class: "d-none" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <ul class="list-group">
        <% @user.reviews_as_reviewee.each do |review| %>
          <div class="review-show">
            <div class="review-name">
              <li class="list-group-items"><em><%= review.reviewer.name %> gave : </em> </li>
            </div>
            <div class="stars-list">
              <% review.rating.times do %>
                <li class="list-group-items"><i class="fas fa-star"></i></li>
              <% end %>
            </div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="user-material-cards">
    <% unless @user.materials.where(available: true).empty? %>
      <div class="itemsforsale">
        <h3>Items for sale</h3>
        <hr>
        <% @user.materials.each do |material| %>
          <%= link_to material_path(material) do %>
            <% if material.available %>
              <div class="card-container">
                <div class="card-index-images">
                  <% if material.photos.attached? %>
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                      <!-- Carousel items -->
                      <div class="carousel-inner">
                        <% material.photos.each_with_index do |photo, i| %>
                        <div class="carousel-item <%= 'active' if i.zero? %> ">
                          <%= cl_image_tag photo.key, class:"carousel-img" %>
                        </div>
                        <% end %>
                      </div>
                        <!-- Carousel nav -->
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  <% end %>
                </div>
                <div class="card-index-infos">
                  <div class="name-description">
                    <h3><%=material.name %></h3>
                    <p><%= material.description %></p>
                  </div>
                  <div class="icons">
                    <p><%= humanized_money_with_symbol(material.price) %></p>
                    <p><i class="fas fa-map-marker-alt"></i> <%= material.location %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% unless @user.materials.where(available: false).empty? %>
      <div class="solditems">
          <h3>Sold items</h3>
          <hr>
          <% @user.materials.each do |material| %>
            <% if !material.available %>
              <div class="card-container">
                <div class="card-index-images">
                  <% if material.photos.attached? %>
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                      <!-- Carousel items -->
                      <div class="carousel-inner">
                        <% material.photos.each_with_index do |photo, i| %>
                        <div class="carousel-item <%= 'active' if i.zero? %> ">
                          <%= cl_image_tag photo.key, class:"carousel-img" %>
                        </div>
                        <% end %>
                      </div>
                        <!-- Carousel nav -->
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  <% end %>
                </div>
                <div class="card-index-infos">
                  <div class="name-description">
                    <h3><%= link_to material.name, material_path(material) %></h3>
                    <p><%= material.description %></p>
                  </div>
                  <div class="icons">
                    <p><%= humanized_money_with_symbol(material.price) %></p>
                    <p><i class="fas fa-map-marker-alt"></i> <%= material.location %></p>
                    <p><strong>This item is already sold!</strong></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
    <% end %>
  </div>
</div>
