<h1>This is <%= @user.name %>'s profile</h1>
<h2>"<%= @user.description %>"</h2>
<div class="profilepicture">
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, class: "imgprofile" %>
  <% else %>
    <%= image_tag "no-profile-picture-jpg-hd-png-download.png", class: "imgprofile" %>
  <% end %>
</div>

<div class="cards-container-index">
  <% @user.materials.each do |material| %>
    <div class="card-container-index">
      <div class="card-index-images">
        <% if material.photos.attached? %>
          <% material.photos.each do |photo| %>
            <div class='material-img' style="background-image: url('<%= cl_image_path photo.key %>')"></div>
          <% end %>
        <% end %>
      </div>
      <div class="card-index-infos">
        <div class="name-description">
          <h3><%= link_to material.name, material_path(material) %></h3>
          <p><%= material.description %></p>
        </div>
        <div class="icons">
          <p><i class="fas fa-euro-sign"></i> <%= material.price %></p>
          <p><i class="fas fa-map-marker-alt"></i> <%= material.location %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
