<div class="dashboard-page-container">
  <div class="user-dashboard-profile">
      <div class="profilepicture">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "dashboard-img" %>
        <% else %>
          <%= image_tag "no-profile-picture-jpg-hd-png-download.png", class: "dashboard-img" %>
        <% end %>
      </div>
      <div class="dashboard-user-infos">
        <h1><%= @user.name %></h1>
        <em><h5>"<%= @user.description %>"</h5></em>
        <p class="new-material-button"><%= link_to "Share materials", new_material_path %></p>
      </div>
  </div>

  <div class="dashboard-section" data-controller="dashboard">
    <div class="title-arrow">
      <% unless @user.materials.where(available: true).empty? %>
        <i class="fas fa-arrow-down" class="dashboard-title" data-dashboard-target="title" data-action="click->dashboard#displayForm"></i>
      <% end %>
      <h5>My materials </h5>
    </div>
    <% unless @user.materials.where(available: true).empty? %>
      <div class="dashboard-cards d-none" data-dashboard-target="cards">
        <% @user.materials.each do |material| %>
          <% if material.available %>
            <div class="dashboard-card">
              <span><%= link_to material.name, material_path(material) %></span>
              <span class="dashboard-button"><%= link_to "Delete", material_path(material), method: :delete, data: {confirm: "Are you sure?"} %></span>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

      <div class="title-arrow">
        <% if @buyings.map(&:status).include?("pending") || @buyings.map(&:status).include?("declined") %>
            <i class="fas fa-arrow-down" class="dashboard-title" data-dashboard-target="title" data-action="click->dashboard#displayForm"></i>
          <% end %>
        <h5>My interests</h5>
      </div>
        <div class="dashboard-cards d-none" data-dashboard-target="cards2">
          <% @buyings.each do |buying| %>
            <% if buying.status == "pending" %>
            <div class="dashboard-card">
              <span><%= link_to "#{buying.material.name}", material_buying_path(buying.material, buying) %></span>
              <span class="dashboard-button"><%= link_to "Delete", buying_path(buying), method: :delete, data: {confirm: "Are you sure?"} %></span>
            </div>
            <% elsif buying.status == "declined" %>
              <div class="dashboard-card">
                <span><%= link_to "#{buying.material.name}", material_buying_path(buying.material, buying) %></span>
                <span> Be careful, your request has been <strong><%= buying.status %></strong></span>
                <span class="dashboard-button"><%= link_to "Delete", buying_path(buying), method: :delete, data: {confirm: "Are you sure?"} %></span>
              </div>
            <% end %>
          <% end %>
        </div>

      <div class="title-arrow">
        <% unless @buyings_of_your_materials.empty? %>
          <% if @buyings_of_your_materials.map(&:status).include?("pending") %>
            <i class="fas fa-arrow-down" class="dashboard-title" data-dashboard-target="title" data-action="click->dashboard#displayForm"></i>
          <% end %>
        <% end %>
        <h5>Pending sales</h5>
      </div>
        <% unless @buyings_of_your_materials.empty? %>
          <div class="dashboard-cards d-none" data-dashboard-target="cards3">
            <% @buyings_of_your_materials.each do |buying| %>
              <% if buying.status == "pending" %>
                <div class="dashboard-card">
                  <span><%= link_to "#{buying.material.name}", material_buying_path(buying.material, buying) %></span>
                  <div class="buying-validation-buttons">
                    <div class="confirm-button">
                      <%= simple_form_for buying do |f| %>
                        <%= f.hidden_field :status, value: "confirmed" %>
                        <%= f.submit "confirm", class: "confirm_delete_button" %>
                      <% end %>
                    </div>
                    <div class="decline-button">
                      <%= simple_form_for buying do |f| %>
                        <%= f.hidden_field :status, value: "declined" %>
                        <%= f.submit "decline", class: "confirm_delete_button" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>

      <div class="title-arrow">
        <% unless @user.materials.where(available: false).empty? %>
          <i class='fas fa-arrow-down'class="dashboard-title" data-dashboard-target="title" data-action="click->dashboard#displayForm"></i>
        <% end %>
        <h5>Previous sales</h5>
      </div>
        <% unless @user.materials.where(available: false).empty? %>
          <div class="dashboard-cards d-none" data-dashboard-target="cards4">
            <% @user.materials.each do |material| %>
              <% material.buyings.each do |buying| %>
                <% if buying.status == "confirmed" %>
                  <div class="dashboard-card">
                      <span><%= link_to material.name, material_path(material) %></span>
                      <span class="dashboard-button"><%= link_to "Rate the buyer", user_path(buying.user) %></span>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>



      <div class="title-arrow">
        <% if @buyings.map(&:status).include?("confirmed")%>
          <i class="fas fa-arrow-down" class="dashboard-title" data-dashboard-target="title" data-action="click->dashboard#displayForm"></i>
        <% end %>
        <h5>Orders</h5>
      </div>
      <div class="d-none">
        <% @buyings.select{|by|  by.status == "confirmed"}.each do |buying| %>
              <div class="dashboard-cards" data-dashboard-target="cards5">
                <div class="dashboard-card">
                  <span><%= link_to "#{buying.material.name}", material_buying_path(buying.material, buying) %></span>
                  <span class="dashboard-button"><%= link_to "Rate the seller", user_path(buying.material.user) %></span>
                </div>
              </div>
          <% end %>
        </div>

      <div class="title-arrow">
        <% if @buyings.map(&:status).include?("paid") %>
          <i class="fas fa-arrow-down" class="dashboard-title" data-dashboard-target="title" data-action="click->dashboard#displayForm"></i>
        <% end %>
        <h5>Purchases</h5>
      </div>
      <div class="d-none">
        <% @buyings.each do |buying| %>
          <% if buying.status == "paid" %>
            <div class="dashboard-cards" data-dashboard-target="cards6">
              <div class="dashboard-card">
                <span><%= link_to "#{buying.material.name}", material_buying_path(buying.material, buying) %></span>
                <span class="dashboard-button"><%= link_to "Rate the seller", user_path(buying.material.user) %></span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>


</div>
