<div class="profilepicture">
  <% if current_user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, class: "imgprofile" %>
  <% else %>
    <%= image_tag "no-profile-picture-jpg-hd-png-download.png", class: "imgprofile" %>
  <% end %>
</div>
<h1><%= @user.name %></h1>
<em><h5>"<%= @user.description %>"</h5></em>
<p><%= link_to "Create a new offer", new_material_path %></p>
<% unless @user.materials.where(available: true).empty? %>
  <h5>Your items</h5>
  <div class="cards-container-index">
    <% @user.materials.each do |material| %>
      <% if material.available %>
        <div class="card-container-index">
          <div class="card-index-images">
            <% if material.photos.attached? %>
              <% material.photos.each do |photo| %>
                <div class='material-img' style="background-image: url('<%= cl_image_path photo.key %>')"></div>
              <% end %>
            <% end %>
          </div>
          <div class="card-index-infos">
            <div class="name-description">
              <h3><%= link_to material.name, material_path(material) %></h3>
              <p><%= material.description %></p>
            </div>
            <div class="icons">
              <p><i class="fas fa-euro-sign"></i> <%= material.price %></p>
              <p><i class="fas fa-map-marker-alt"></i> <%= material.location %></p>
            </div>
            <div>
              <p><%= link_to "Delete", material_path(material), method: :delete, data: {confirm: "Are you sure?"} %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<% if !@buyings.empty? %>
  <h5>Interests</h5>
  <div class="cards-container-index">
    <% @buyings.each do |buying| %>
      <% if buying.status != "confirmed" %>
        <div class="card-container-index">
          <div class="card-index-images">
            <% if buying.material.photos.attached? %>
              <% buying.material.photos.each do |photo| %>
                <div class='material-img' style="background-image: url('<%= cl_image_path photo.key %>')"></div>
              <% end %>
            <% end %>
          </div>
          <div class="card-index-infos">
            <div class="name-description">
              <p>Product name : <%= link_to "#{buying.material.name}", material_buying_path(buying.material, buying) %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<% if !@buyings_of_your_materials.empty? %>
  <h5>Sales to be confirmed</h5>
  <div class="cards-container-index">
    <% @buyings_of_your_materials.each do |buying| %>
      <% if buying.status != "confirmed" %>
        <div class="card-container-index">
          <div class="card-index-images">
            <% if buying.material.photos.attached? %>
              <% buying.material.photos.each do |photo| %>
                <div class='material-img' style="background-image: url('<%= cl_image_path photo.key %>')"></div>
              <% end %>
            <% end %>
          </div>
          <div class="card-index-infos">
            <div class="name-description">
              <p>Product name : <%= link_to "#{buying.material.name}", material_buying_path(buying.material, buying) %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
<% unless @user.materials.where(available: false).empty? %>
  <h5>Previous sales</h5>
  <div class="cards-container-index">
    <% @user.materials.each do |material| %>
      <% if !material.available %>
        <div class="card-container-index">
          <div class="card-index-images">
            <% if material.photos.attached? %>
              <% material.photos.each do |photo| %>
                <div class='material-img' style="background-image: url('<%= cl_image_path photo.key %>')"></div>
              <% end %>
            <% end %>
          </div>
          <div class="card-index-infos">
            <div class="name-description">
              <h3><%= link_to material.name, material_path(material) %></h3>
              <p><%= material.description %></p>
            </div>
            <div class="icons">
              <p><i class="fas fa-euro-sign"></i> <%= material.price %></p>
              <p><i class="fas fa-map-marker-alt"></i> <%= material.location %></p>
              <p><strong>This material is sold!</strong></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
