<% content_for :meta_title, "#{@buying.material.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @buying.material.description %>
<% content_for :meta_image, cl_image_path(@buying.material.photos.first.key) %>

<div class="material-container">
  <div class="form_title">
    <h2><%= @material.name %></h2>
    <br>
  </div>
  <div class="info-without-title">
    <div class="material-info">
      <div class="buying-img">
        <% if @material.photos.attached? %>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <% @material.photos.each_with_index do |photo, i| %>
            <div class="carousel-item <%= 'active' if i.zero? %> ">
              <%= cl_image_tag photo.key, class:"carousel-img" %>
            </div>
            <% end %>
          </div>
            <!-- Carousel nav -->
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <% end %>
      </div>
      <div class="practical-info">
        <p><i class="fas fa-map-marker-alt"></i> <%= @material.location %></p>
        <p><%= @material.price %> <i class="fas fa-euro-sign"></i></p>
      </div>
      <p> <em> <%= @buying.material.description  %> </em></p>
    </div>
    <div class="material-buying-request">
      <div class="order-create">
        <% if  @buying.status == "confirmed" %>
          <%= form_tag orders_path do %>
            <%= hidden_field_tag 'material_id', @material.id %>
            <%= hidden_field_tag 'buying_id', @buying.id %>
            <%= submit_tag ' confirm Purchase' %>

          <% end %>
        <% end %>
        <% if @order && @order.state == 'pending' %>
          <button id="pay">Pay</button>
          <script src="https://js.stripe.com/v3/"></script>
          <script>
            const paymentButton = document.getElementById('pay');
            paymentButton.addEventListener('click', () => {
              const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
              stripe.redirectToCheckout({
                sessionId: '<%= @order.checkout_session_id %>'
              });
            });
          </script>
        <% end %>
      </div>
      <% if @buying.status != 'paid' %>
        <p class='buying-status-highlight'><%= @buying.status %></p>
      <% else %>
        <p class='buying-status-highlight'>This order was paid by <%= @buying.user.name %></p>
      <% end %>
      <div class="buying-validation-buttons">
        <% if @buying.material.user == current_user %>
          <% if @buying.status == "pending" %>
            <%= simple_form_for @buying do |f| %>
              <%= f.hidden_field :status, value: "confirmed" %>
              <div class="con_btn">
                <%= f.submit "confirm", class: "submit_button" %>
              </div>
            <% end %>
            <%= simple_form_for @buying do |f| %>
              <%= f.hidden_field :status, value: "declined" %>
              <div class="dec_btn">
                <%= f.submit "decline", class: "submit_button" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="order-show">
        <% if @buying.status == "paid" %>
          <h1>Order #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
          <ul class="list-unstyled">
            <li><em>ISSUED ON</em> <%= @order.created_at.to_date %></li>
            <li><em>MATERIAL</em> <%= @order.material.name %> [<%= @order.material_sku %>]</li>
            <li><em>TOTAL</em> <%= humanized_money_with_symbol @order.amount %></li>
            <li><strong>Make sure you have an appointment with seller for delivery/collection of you material!</strong></li>
            </li>
          </ul>
        <% end %>
      </div>
      <div class = "message-box">
        <div class="card">
          <div class="card-body">
            <div class="msg-info">
              <h5 class="card-title"><%= @buying.user.name %> at <em><%= @buying.created_at.strftime("%I:%M%p (%d/%m/%Y)") %></em></h5>
            </div>
              <p class="card-text"><%= @buying.message %></p>
          </div>
        </div>
        <% @messages.each do |message| %>
          <div class="card" id="message_<%= message.id%>">
            <div class="card-body">
              <div class="msg-info">
                <h5 class="card-title"><%= message.user.name %> at <em><%= message.created_at.strftime("%I:%M%p (%d/%m/%Y)") %></em></h5>
              </div>
              <p class="card-text"><%= message.content %></p>
            </div>
          </div>
        <% end %>
      </div>
      <br>
      <br>
      <div class="new-message-card my-1">
        <div class="new-msg">
          <%= form_with(model: [@buying, @buying.messages.build]) do |f| %>
            <div class="form-group">
              <%= f.label 'New message' %>
              <%= f.text_area :content, class:'form-control' %>
            </div>
            <div class='button-green'><%= f.submit "Send", class:"submit_button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
