<div class="index-page">
  <div class="left col-6">
    <div class='search-bar-container m-2 ml-3'>
      <%= form_tag materials_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "searchbar",
          placeholder: "Find a material"
        %>
        <%# <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="cards-container-index">
      <% @materials.each do |material| %>
      <%= link_to material_path(material) do %>
          <% if material.available %>
            <div class="card-container-index">
              <div class="card-index-images">
                <% if material.photos.attached? %>
                  <% material.photos.first(1).each do |photo| %>
                    <div class='material-img' style="background-image: url('<%= cl_image_path photo.key %>')"></div>
                  <% end %>
                <% end %>
              </div>
              <div class="card-index-infos">
                <div class="name-description">
                  <h3><%= link_to material.name, material_path(material) %></h3>
                  <p><%= material.description %></p>
                </div>
                <div class="icons">
                  <p><%= humanized_money_with_symbol(material.price) %></p>
                  <p><i class="fas fa-map-marker-alt"></i> <%= material.location %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="right col-6">
    <div id="map"
     style="width: 100%; height: 100vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
