<h1>all available materials</h1>
<% @materials.each do |material| %>
  <h3><%= link_to material.name, material_path(material) %></h3>
  <p><%= material.description %></p>
  <p>address: <%= material.location %></p>
  <p>price: <%= material.price %></p>
  <p>seller: <%= material.user.name %></p>
<% end %>
