<h1>all available materials</h1>
<div class='search-bar-container'>
  <%= form_tag materials_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a material"
    %>
    <%# <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="cards-container-index">
  <% @materials.each do |material| %>
  <%# <hr> %>
    <div class="card-container-index">
      <div class="card-index-images">
        <% if material.photos.attached? %>
          <% material.photos.each do |photo| %>
            <div class='material-img' style="background-image: url('<%= cl_image_path photo.key %>')"></div>
          <% end %>
        <% end %>
      </div>
      <div class="card-index-infos">
        <div class="name-description">
          <h3><%= material.name %></h3>
          <p><%= material.description %></p>
        </div>
        <div class="icons">
          <p><i class="fas fa-map-marker-alt"></i> <%= material.location %></p>
          <p><i class="fas fa-euro-sign"></i> <%= material.price %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
