<h1>all available materials</h1>
<%= form_tag materials_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a material"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<div class="index-materials-container">
    <% @materials.each do |material| %>
      <h3><%= material.name %></h3>
      <p><%= material.description %></p>
      <p>address: <%= material.location %></p>
      <p>price: <%= material.price %></p>
    <% end %>
</div>
