<div class="form">
  <%= simple_form_for(@material) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :price %>
    <%= f.input :photos, as: :file, input_html: { multiple: true} %>
    <%= f.submit %>
  <% end %>
</div>
