<div class='material-container'>
  <div class="material-info">
    <h2><%= @material.name %></h2>
    <p><%= @material.description %></p>
    <ul class='material-photos-list'>
      <% if @material.photos.attached? %>
        <% @material.photos.each do |photo| %>
          <li><div class='material-img-showpage' style="background-image: url('<%= cl_image_path photo.key %>')"></div></li>
        <% end %>
      <% end %>
    </ul>
    <p><%= @material.price %> euros</p>
    <p><%= @material.location %></p>
    <div id="map"
      style="width: 100%; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="material-buying-request">
    <p class="button"><%= link_to "See #{@material.user.name}'s other products", user_path(@material.user_id) %></p>
    <p>Contact <%= @material.user.name %></p>
    <%= simple_form_for [@material, @buying] do |f| %>
      <%= f.input :message, label: false %>
      <%= f.hidden_field :status, value: "A buying request was made by #{current_user.name}" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
