<div class='material-container'>
  <h2><%= @material.name %></h2>
  <ul class='material-photos-list'>
    <% if @material.photos.attached? %>
      <% @material.photos.each do |photo| %>
        <li><div class='material-img' style="background-image: url('<%= cl_image_path photo.key %>')"></div></li>
      <% end %>
    <% end %>
  </ul>
  <p><%= @material.description %></p>
  <p><%= @material.location %></p>
  <p><%= @material.price %>euros</p>
  <p><%= link_to @material.user.name, user_path(@material.user_id) %></p>
  <br>
  <%= link_to "Send a request to buy", new_material_buying_path(@material) %>

  <%= simple_form_for [@material, @buying] do |f| %>
    <%= f.input :message %>
    <%= f.hidden_field :status, value: false %>
  <% end %>
</div>
