<% content_for :meta_title, "#{@material.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @material.description %>

<div class="material-container">
  <div class="form_title">
    <h2><%= @material.name %></h2>
    <br>
  </div>
  <div class="info-without-title">
    <div class="material-info">
      <% if @material.photos.attached? %>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <% @material.photos.each_with_index do |photo, i| %>
            <div class="carousel-item <%= 'active' if i.zero? %> ">
              <%= cl_image_tag photo.key, class:"carousel-img" %>
            </div>
            <% end %>
          </div>
            <!-- Carousel nav -->
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% end %>
      <div class="practical-info">
        <p><i class="fas fa-map-marker-alt"></i> <%= @material.location %></p>
        <p><%= humanized_money_with_symbol(@material.price) %></p>
      </div>
      <p><em>"<%= @material.description %>"</em></p>
    </div>
    <div class="material-buying-request">
      <% if @buyings.empty? && current_user != @material.user %>
        <div class="interactions">
          <div class="interested">
            <%= simple_form_for [@material, @buying] do |f| %>
              <%= f.hidden_field :message, input_html:{class:"input_text"}, placeholder:"Message", label: false, value: "Hi, I'm intersted in your product!" %>
              <%= f.hidden_field :status, value: "pending" %>
              <%= f.submit "I'm interested!", class:"btn_interest" %>
              <% end %>
          </div>
          <div class="contact-info">
            <div class="correct-spacing">
              <div class="profile_link">
                <% if @material.user.photo.attached? %>
                  <%= link_to user_path(@material.user_id) do %>
                    <%= cl_image_tag @material.user.photo.key, class: "avatar" %>
                  <% end %>
                <% else %>
                  <%= image_tag "no-profile-picture-jpg-hd-png-download.png", class: "avatar" %>
                <% end %>
              </div>
              <p>Contact <%= @material.user.name %></p>
            </div>
            <div class="contact-seller">
              <%= simple_form_for [@material, @buying] do |f| %>
                <%= f.input :message, input_html:{class:"input_text"}, placeholder:"Message", label: false %>
                <%= f.hidden_field :status, value: "pending" %>
                <%= f.submit "Send", class:"submit_button" %>
                <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <ul>
          <% @material.buyings.each do |buying| %>
            <% if @material.user == current_user || buying.user == current_user %>
              <div class="button"><%= link_to "Your buying request", material_buying_path(@material, buying) %></div>
            <% else %>
                <% unless buying.status == 'declined' %>
                   <li><%= "#{buying.user.name} made a buying request" %></li>
                <% end %>
                <div class="correct-spacing">
                  <div class="profile_link">
                    <% if @material.user.photo.attached? %>
                      <%= link_to user_path(@material.user_id) do %>
                        <%= cl_image_tag @material.user.photo.key, class: "avatar" %>
                      <% end %>
                    <% else %>
                      <%= image_tag "no-profile-picture-jpg-hd-png-download.png", class: "avatar" %>
                    <% end %>
                  </div>
                  <p>Contact <%= @material.user.name %></p>
                </div>
                <div class="contact-seller">
                  <%= simple_form_for [@material, @buying] do |f| %>
                    <%= f.input :message, input_html:{class:"input_text"}, placeholder:"Message", label: false %>
                    <%= f.hidden_field :status, value: "pending" %>
                    <%= f.submit "Send", class:"submit_button" %>
                    <% end %>
                </div>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div id="map"
    style="width: 100%; height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
